[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/elementary"]
	path = themes/elementary
	url = git@github.com:jethrokuan/elementary.git
